body {
     background-image: url(images/download.png);
     background-size: cover;
     background-position: center;
     background-attachment: fixed;
     display: flex;
     flex-wrap: wrap;
     padding: 20px;
}

.card {
     max-width: 340px;
     margin: auto;
     background-color: white;

}


.card-header {
     position: relative;
     display: flex;
     height: 200px;
}

.card-cover {
     width: 100%;
     height: 100%;
     background-size: cover;
     background-position: center;
     filter: blur(30px);
}

.card-avatar {
     width: 100px;
     height: 100px;
     object-position: center;
     position: absolute;
     bottom: 0;
     left: 50%;
     transform: translateX(-50%) translateY(-64px);
}

.card-fullname {
     position: absolute;
     bottom: 0;
     font-size: 22px;
     transform: translateY(-10px) translateX(-50%);
     left: 50%;
}

.card-jobtitle {
     position: absolute;
     bottom: 0;
     font-size: 11px;
     font-weight: 500;
     text-transform: uppercase;
     margin: 0;
     left: 50%;
     transform: translateX(-50%) translateY(-7px);
}

.card-content {
     padding: 20px;
}

.card-desc {
     line-height: 1.6;
     color: #636b6f;
     font-size: 14px;
     margin: 0;
     font-weight: 400;
     font-family: "DM Sans", sans-serif;
}

.card-timeline {
     margin-top: 30px;
     position: relative;
}

.card-item {
     position: relative;
     padding-left: 60px;
     padding-right: 20px;
     padding-bottom: 30px;
     z-index: 1;
}

.card-item:after {
     content: attr(data-year);

     position: absolute;
     top: 0;
     left: 37px;
     width: 8px;
     height: 8px;
     line-height: 0.6;
     font-size: 11px;
     text-indent: -35px;
     border-radius: 50%;
     background: grey;
}

.card-item-title {
     font-weight: 500;
     font-size: 14px;
     margin-bottom: 5px;
}

.card-contact {
     display: flex;
     font-size: 13px;
}

.card-contact svg {
     width: 30px;
}

.contact-me {
     background: grey;
     padding: 12px 16px;
     width: 100%;
     margin-top: 25px;
}